@layer tw_base, radix_ui, tw_components_utilities;
@import "@radix-ui/themes/styles.css" layer(radix_ui);

@layer tw_base {
  @tailwind base;
}

@layer tw_components_utilities {
  @tailwind components;
  @tailwind utilities;
}

.radix-themes {
  --default-font-family: var(--font-inter);
  --em-font-family: var(--font-inter);
  --quote-font-family: var(--font-inter);
  --code-font-family: var(--font-jetbrains-mono), "Fira Code", "Fira Mono",
    "Roboto Mono", "Lucida Console", Monaco, monospace;
}

html,
body {
  margin: 0;
  padding: 0;
}
